<nav data-bs-theme="dark" class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">SunShine Education</a>

    <div class="profile">
      <div class="profile-toggle">
        <img class="profile-img" src="https://avatars.githubusercontent.com/u/94516519?v=4" alt="Profile Image">
        <span>Gin Admin</span>
        <img class="dr-icon" src="/img/dropdown_icon.png" alt="">
      </div>
      <div class="profile-dropdown" data-bs-theme="dark">
        <a class="pd-item nav-link" href="/courses/create">Create Courses</a>
        <a class="pd-item nav-link" href="/me/stored/courses">Manage Course</a>
        <div class="pd-item">Logout</div>
      </div>
    </div>

  </div>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const profile = document.querySelector(".profile");
    const toggle = document.querySelector(".profile-toggle");

    toggle.addEventListener("click", function (event) {
        profile.classList.toggle("active");
        event.stopPropagation();
    });

    document.addEventListener("click", function (event) {
        if (!profile.contains(event.target)) {
            profile.classList.remove("active");
        }
    });
  }); 
</script>